version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "05:40"
      timezone: "America/New_York"
    open-pull-requests-limit: 5
